
<mat-card class="kpi-card app-card">
  <mat-card-header>
    <div mat-card-avatar [ngClass]="color" class="header-avatar">
      <mat-icon>{{ icon }}</mat-icon>
    </div>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="d-flex align-items-center justify-content-between">
    <p class="value">{{ value | number:'1.0-2' }}{{ unit }}</p>
    <div class="trend" [ngClass]="{'positive': trend >= 0, 'negative': trend < 0}">
      <mat-icon>{{ trend >= 0 ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
      <span>{{ trend | number:'1.1-1' }}%</span>
    </div>
  </mat-card-content>
</mat-card>
