
<mat-toolbar class="app-header">
  <div class="d-flex align-items-center">
    <button
      *ngIf="isHandset$ | async"
      mat-icon-button
      (click)="onToggleDrawer()"
      aria-label="Toggle sidenav">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="search-bar">
      <mat-icon class="search-icon">search</mat-icon>
      <input [placeholder]="'COMMON.SEARCH' | translate" type="text">
    </div>
  </div>

  <div class="d-flex align-items-center gap-2">
     <mat-slide-toggle
        [checked]="isDarkTheme$ | async"
        (change)="toggleTheme($event.checked)"
        matTooltip="Toggle Dark Mode">
        <mat-icon>{{ (isDarkTheme$ | async) ? 'dark_mode' : 'light_mode' }}</mat-icon>
      </mat-slide-toggle>

    <button mat-icon-button matTooltip="Notifications">
        <mat-icon>notifications</mat-icon>
    </button>

    <button [matMenuTriggerFor]="userMenu" mat-button class="user-menu-button">
      <div class="d-flex align-items-center">
        <img class="avatar" src="assets/images/avatar-placeholder.png" alt="User Avatar">
        <div class="user-info" *ngIf="user">
          <span class="user-name">{{ user.username }}</span>
          <span class="user-office">{{ user.officeName }}</span>
        </div>
        <mat-icon>expand_more</mat-icon>
      </div>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>{{ 'COMMON.PROFILE' | translate }}</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'COMMON.LOGOUT' | translate }}</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
